/* body */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-around;
}

.hero-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* random information section */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.random-information {
  display: flex;
  gap: 10px;
}

.illustration-subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* quote section */
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* sign up section */
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}