/* hero section */
.hero {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
}

.hero-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}